body {
	/*background: url(Merial_logo.svg.png) no-repeat bottom fixed;*/
	margin: 0;
	padding: 0;
	background-size: cover ;
	background-color: rgb(22, 52, 50);
}	

#titre {
	background-color: rgb(229, 86, 40);
	width: 100%;
	height: 15%;
	
}

#sous-titre {
	background-color: transparent;
	opacity: 0.7;
	width: 100%;
	height: 75%;
	text-align: center;
	color: white;
	margin-top: 30px;
	
}

.mdl-mini-footer {
	height: 15%;
	width: 100%;
	background: cyan;
}

#titre {
	text-align: center;
	color: white;
	margin-top: 30px;
}

#slide4 {
	z-index: 1;
	background-color: transparent;
	width: 100%;
	height: 123.9px;
	margin: 0 0;
	top: -30px;
	position: relative;
}

h2 {
	text-align: center;
	color: white;
	margin-top: 30px;
}

#slide2 {   
	z-index: 1;
	background: url(14b-merial_girl-with-dog_3.jpg) no-repeat bottom fixed;
	background-size: 100% 100%;
    width: 100;
    height: 760px;
    margin: 0 0;
    top: -21px;
    position: relative;
}
#slide2_2 {
	z-index: 10;
	background-color: rgb(22, 52, 50);
	opacity: 0.3;
	margin: 0 auto;
	height: 760px;
    top: -781px;
    position: relative;
}
#slide1 {
	background: url(Merial_logo.svg.png) no-repeat bottom fixed;
	background-size: 100% 75%;
	width: 100%;
	height: 612px;
	display: flex;
	align-items: flex-end;

}
#logo {
	z-index: 5;
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-right: 5%;
	margin-left: 5%;
}
#titre {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#slide4 {
  animation-duration: 3s;
  animation-name: slideintwo;
}

@keyframes slideintwo {
  from {
    margin-right: 100%;
    width: 300%; 
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

#espace_personnel {
	display: flex;
	justify-content: space-around;
	position: relative;
}

#slide3 {
	background-color: rgb(57, 137, 136);
    background-size: 100%;
    height: 750px;

}

#slide5 {
	background-color: rgb(108, 108, 108);
    background-size: 100%;
    height: 750px;

}

#slide6 {
	background-color: rgb(234, 234, 234);
	opacity: 0.9;
    background-size: 100%;
    height: 750px;
}

#slide6 h2 {
	color: grey;
}

#slide7 {
	background-color: red;
    background-size: 100%;
    height: 500px;

}

.demo-layout-transparent {
  background: transparent center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}


.box {
	position: relative;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
}


.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('Capture d’écran 2016-12-05 à 15.13.53.png') bottom right 15% no-repeat #46B6AC;
}

ul {
	text-decoration: none;
	display: inline-block;
}

.demo-card-square {
	margin-left: 30px;
	position: relative;
}